.btn{
    padding: 5px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    background-color: whitesmoke;
}
.gold{
    background-color: gold;
}