.bggold{
    background-color: #FBBF23!important;
}
.bglgray{
    background-color: #F3F4F6!important;
}
.bggray{
    background-color: #E5E7EA!important;
}
.bgdgray{
    background-color: #D1D4DB!important;
}
.bgdblue{
    background-color: #1D2733!important;
}
.txtdgold{
    color: #7e6012!important;
}
.txtwhite{
    color: #FFFFFF;
}
.txtblack{
    color: #000000!important;
}
.txtdgray{
    color: #6B7380;
}